<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
    <div id="content-{data.uid}" class="content content-type-grid content-grid-type-{data.tx_gridelements_backend_layout}{f:if(condition:'{data.space_before_class} != \'default\'', then: ' content-space content-space-before-{data.space_before_class}')}{f:if(condition:'{data.space_after_class} != \'default\'', then: ' content-space content-space-after-{data.space_after_class}')}">
        <f:render section="Main" optional="true" />
    </div>
</f:spaceless>
</html>
