<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
    <div id="content-{data.uid}" class="content content-type-{data.CType}{f:if(condition:'{data.space_before_class} != \'default\'', then: ' content-space content-space-before-{data.space_before_class}')}{f:if(condition:'{data.space_after_class} != \'default\'', then: ' content-space content-space-after-{data.space_after_class}')}">
        <f:if condition="{data._LOCALIZED_UID}">
            <a id="c{data._LOCALIZED_UID}"></a>
        </f:if>
        <f:if condition="{data.header_layout}">
            <f:if condition="{data.header}">
                <h{data.header_layout} class="{f:if(condition:'{data.header_position}', then: 'content-text-{data.header_position}')}{f:if(condition:'{data.subheader}', then: ' content-has-sub-headline')}"><f:link.typolink parameter="{data.header_link}">{data.header}</f:link.typolink></h{data.header_layout}>
            </f:if>
            <f:if condition="{data.subheader}">
                <f:if condition="!{data.header}">
                    <f:then>
                        <p class="content-sub-headline{f:if(condition:'{data.header_position}', then: ' content-text-{data.header_position}')}"><f:link.typolink parameter="{data.header_link}">{data.subheader}</f:link.typolink></p>
                    </f:then>
                    <f:else>
                        <p class="content-sub-headline{f:if(condition:'{data.header_position}', then: ' content-text-{data.header_position}')}">{data.subheader}</p>
                    </f:else>
                </f:if>
            </f:if>
        </f:if>
        <f:render section="Main" optional="true" />
    </div>
</f:spaceless>
</html>
