<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <f:for each="{gallery.rows}" as="row">
        <div class="row">
            <f:for each="{row.columns}" as="image">
                <f:if condition="{image.media}">
                    <div class="col-md-{v:math.division(a: 12, b: '{row.columns -> f:count()}')} content-image{f:if(condition:'{data.imageorient} == 0', then: ' content-text-center')}{f:if(condition:'{data.imageorient} == 1', then: ' content-text-right')}{f:if(condition:'{data.imageorient} == 2', then: ' content-text-left')}">
                        <f:if condition="{image.media.link}">
                            <f:then>
                                <f:link.typolink parameter="{image.media.link}" title="{image.media.title}"><f:media file="{image.media}" width="{image.dimensions.width}" height="{image.dimensions.height}" alt="{image.media.alternative}" title="{image.media.title}" /></f:link.typolink>
                            </f:then>
                            <f:else>
                                <f:if condition="{data.image_zoom}">
                                    <f:then>
                                        <f:switch expression="{data.tx_base_gallery_type}">
                                            <f:case value="0">
                                                <a href="{image.media.originalFile.publicUrl}" data-rel="lightcase:uid{data.uid}" title="{image.media.title}">
                                                    <f:media file="{image.media}" width="{image.dimensions.width}" height="{image.dimensions.height}" alt="{image.media.alternative}" title="{image.media.title}" />
                                                </a>
                                            </f:case>
                                            <f:case value="1">
                                                <a href="{image.media.originalFile.publicUrl}" data-rel="lightcase:site" title="{image.media.title}">
                                                    <f:media file="{image.media}" width="{image.dimensions.width}" height="{image.dimensions.height}" alt="{image.media.alternative}" title="{image.media.title}" />
                                                </a>
                                            </f:case>
                                            <f:case value="2">
                                                <a href="{image.media.originalFile.publicUrl}" data-rel="lightcase" title="{image.media.title}">
                                                    <f:media file="{image.media}" width="{image.dimensions.width}" height="{image.dimensions.height}" alt="{image.media.alternative}" title="{image.media.title}" />
                                                </a>
                                            </f:case>
                                            <f:case default="TRUE">A person with no specified gender</f:case>
                                        </f:switch> 
                                    </f:then>
                                    <f:else>
                                        <f:media file="{image.media}" width="{image.dimensions.width}" height="{image.dimensions.height}" alt="{image.media.alternative}" title="{image.media.title}" />
                                    </f:else>
                                </f:if>
                            </f:else>
                        </f:if>
                        <f:if condition="{image.media.description}">
                            <p class="content-image-caption">
                                {image.media.description}
                            </p>
                        </f:if>
                    </div>
                </f:if>
            </f:for>
        </div>
    </f:for>
</f:section>
</html>
