<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
<f:spaceless>
	<f:if condition="{table}">
		<table class="content-table">
			<f:if condition="{data.table_caption}">
				<caption>{data.table_caption}</caption>
			</f:if>
			<f:for each="{table}" as="row" iteration="rowIterator">
				<f:if condition="{rowIterator.isFirst}">
                    <thead>
				</f:if>
				<tr>
					<f:for each="{row}" as="cell" iteration="columnIterator">
                        <f:if condition="{rowIterator.isFirst}">
                            <f:then>
                                <th>
                            </f:then>
                            <f:else>
                                <td>
                            </f:else>
                        </f:if>

                        <f:if condition="{cell}">
                            <f:then>
                                <f:format.nl2br>{cell}</f:format.nl2br>
                            </f:then>
                            <f:else>
                                &nbsp;
                            </f:else>
                        </f:if>

                        <f:if condition="{rowIterator.isFirst}">
                            <f:then>
                                </th>
                            </f:then>
                            <f:else>
                                </td>
                            </f:else>
                        </f:if>
					</f:for>
				</tr>
				<f:if condition="{rowIterator.isFirst}">
					<f:then>
                        </thead>
                        <tbody>
					</f:then>
					<f:else>
						<f:if condition="{rowIterator.isLast}">
							</tbody>
						</f:if>
					</f:else>
				</f:if>
			</f:for>
		</table>
	</f:if>
</f:spaceless>
</f:section>
</html>
