/* Lightcase fonts */
@font-face {
  font-family: 'lightcase';
  src: url("https://cdnjs.cloudflare.com/ajax/libs/lightcase/2.4.0/fonts/lightcase.eot?55356177");
  src: url("https://cdnjs.cloudflare.com/ajax/libs/lightcase/2.4.0/fonts/lightcase.eot?55356177#iefix") format("embedded-opentype"), url("https://cdnjs.cloudflare.com/ajax/libs/lightcase/2.4.0/fonts/lightcase.woff?55356177") format("woff"), url("https://cdnjs.cloudflare.com/ajax/libs/lightcase/2.4.0/fonts/lightcase.ttf?55356177") format("truetype"), url("https://cdnjs.cloudflare.com/ajax/libs/lightcase/2.4.0/fonts/lightcase.svg?55356177#lightcase") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Basic styles */
img {
    max-width: 100%;
    height: auto;
}
iframe, video, audio {
    max-width: 100%;
}
.content-text-left {
    text-align: left;
}
.content-text-right {
    text-align: right;
}
.content-text-center {
    text-align: center;
}
.content-text-justify {
    text-align: justify;
}
.content {
    margin-top: 1em;
    margin-bottom: 1em;
}
.content-space-before-extra-large {
    margin-top: 3em;
}
.content-space-before-large {
    margin-top: 2em;
}
.content-space-before-medium {
    margin-top: 1em;
}
.content-space-before-small {
    margin-top: 0.5em;
}
.content-space-before-extra-small {
    margin-top: 0;
}
.content-space-after-extra-large {
    margin-bottom: 3em;
}
.content-space-after-large {
    margin-bottom: 2em;
}
.content-space-after-medium {
    margin-bottom: 1em;
}
.content-space-after-small {
    margin-bottom: 0.5em;
}
.content-space-after-extra-small {
    margin-bottom: 0;
}
.content > *:first-child {
    margin-top: 0;
}
.content > *:last-child {
    margin-bottom: 0;
}
.content-sub-headline {
    margin-top: 0;
    font-weight: bold;
}
.content-has-sub-headline {
    margin-bottom: 0;
}
.content-image, .content-media {
    margin-bottom: 0.5em;
}
.content-image-caption {
    margin: 0;
    font-size: 0.8em;
    color: #666;
}
.content-uploads-fileicon, .content-uploads-thumbnail {
    margin-right: 0.3em;
}
.content-uploads-thumbnail {
    display: block;
}
.content-uploads-description, .content-uploads-filesize {
    margin-left: 0.3em;
}
.content-uploads > li > div {
    margin-bottom: 0.4em;
}
